* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ffffce;
}



h1{
    display: inline-block;
    color:aliceblue ;
    text-align: center;
    background-color:#900bf0;
    width: 75%;
    /* text-shadow: 0 0 1.5px aqua, 0 0 3.5px #8d068d; */
    /* border: 3px inset #c747fd; */
}

p{
    font-size: 17px;
    color: #900bf0;
}


ul{
    display: inline-block;
    text-align: justify;
    color: #900bf0;
}

a {
    text-decoration: none;
    color: #e602d3;
}

button{
    color:aliceblue;
    background-color: #800bf0;
}

#mifoto{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: .5px solid #800bf0;  
}

.main{
    text-align: center;
}

.header {
    margin: 40px 20px 0;
    font-size: 0;
    height: 45px;
  }

  .header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
  }

  .logo > img{
    width: 30%;
    height: 100%;
  }

  .logo{
    width: 15%;
  }

  .navbar {
    width: 60%;
    text-align: center;
    font-weight: 500;
  }

  .navit > li{
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
  }

  .navit{
    display: inline;
  }

  .actions {
    width: 25%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
  }

  .actions > * {
    margin-right: 5px;
    margin-left: 5px;
  }

  .main{
    margin-top: 140px;
    text-align: center;
  }

  .actions a {
    color: #800bf0;
  }
